{{- $root := . }}
{{- range .Values.instances }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  labels:
    app: {{ .name }}
    app.kubernetes.io/instance: {{ $root.Release.Name }}
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  selector:
    app: {{ .name }}
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
{{- end }}